$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/fonts" !default;

$icon-angle-double-up: "\e908";
$icon-life-bouy: "\e909";
$icon-life-ring: "\e909";
$icon-life-saver: "\e909";
$icon-support: "\e909";
$icon-tablet: "\e900";
$icon-mobile: "\e901";
$icon-mobile-phone: "\e901";
$icon-phone: "\e902";
$icon-desktop: "\e903";
$icon-envelope-o: "\e904";
$icon-envelope: "\e905";
$icon-heart-o: "\e906";
$icon-drivers-license-o: "\e907";
$icon-id-card-o: "\e907";
$icon-facebook2: "\ea91";

