  <div class="container footer hidden-print">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline">
          <li>
            <a href="{{ $.Site.Params.facebook }}" target="_blank" rel="noreferrer noopener" title="Link zu meiner Facebook Seite">
                <span class="icon icon-facebook2"></span>
            </a>
          </li>
          <li>
            <a href="mailto:{{ $.Site.Params.email }}" title="Email schreiben">
                <span class="icon icon-envelope"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

<a class="toplink" onclick="topFunction()" id="return-to-top">
  <i class="icon icon-angle-double-up"></i><span class="hidden-xs"> nach oben</span>
</a>

<script src="/vendor/jquery/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="/vendor/bootstrap/3.4.0/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>

<script src="{{ index .Site.Data.assets.js.lls "filename" }}"
  integrity="{{ index .Site.Data.assets.js.lls "sri384" }}"
  crossorigin="anonymous">
</script>
