<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Yann Duval">
  <meta name="description" content="PADI Tauchausbildung in Berlin">

  <title>learn it | love it | save it</title>

  <!-- Place favicon.ico in the root directory -->
  <link rel="icon" href="/favicon.jpg">

  <link rel="stylesheet" href="/vendor/bootstrap/4.3.1/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ index .Site.Data.assets.css.lls "filename" }}"
    integrity="{{ index .Site.Data.assets.css.lls "sri384" }}"
    crossorigin="anonymous">
</head>
