<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="{{ $.Site.Params.author }}">
  <meta name="description" content="PADI Tauchausbildung in Berlin">

  <title>learn it | love it | save it</title>

  <!-- Place favicon.ico in the root directory -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/scuba-152-170990.png">

  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/scuba-144-170990.png">

  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/scuba-152-170990.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/scuba-144-170990.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/scuba-120-170990.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/scuba-114-170990.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/scuba-72-170990.png">
  <link rel="apple-touch-icon-precomposed" href="/scuba-57-170990.png">
  <link rel="icon" href="/scuba-32-170990.png" sizes="32x32">

  <link rel="stylesheet" href="/vendor/bootstrap/4.5.2/bootstrap.min.css">

  {{ $llsCSS := resources.Get "scss/learn-love-save.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $llsCSS.Permalink }}">
</head>
