<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Yann Duval">
  <meta name="description" content="PADI Tauchausbildung in Berlin">

  <title>learn it | love it | save it</title>

  <link rel="manifest" href="site.webmanifest">
  <!-- Place favicon.ico in the root directory -->
  <link rel="icon" href="/favicon.jpg">

  <link rel="stylesheet" href="/vendor/bootstrap/3.4.0/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ index .Site.Data.assets.css.lls "filename" }}"
    integrity="{{ index .Site.Data.assets.css.lls "sri384" }}"
    crossorigin="anonymous">
</head>
